<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">
<h1>Welcome to Engineering Management Application - A Cloud Engineering approach</h1>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/part" routerLinkActive="active">Manage Parts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/drawing" routerLinkActive="active">Manage Drawings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ecr" routerLinkActive="active">Manage Engg Change Request</a>
    </li>

  </ul>


</nav>

   <router-outlet></router-outlet>
